
.main {
    background-color: #050508;
}

.param_knob {
    width: 70px;
    height: 70px;
    space: 5px;
}

.param_knob_area {
    width: 200px;
    height: 70px;
    top: 15px;
}

label {
    font-size: 20;
    color: #e0e0d9;
    right: 0px;
}

.param_name_label {
    space: 1s;
    bottom: 2px;
}

.unit_label {
    space: 1s; 
    top: 2px;
}

.right {
    left: 0;
}

.left {
    right: 0;
}

.tick {
    background-color: #f3fa92;
}

.track {
    background-color: #f3fa92;
}

scope {
    background-color: #f3fa92;
    width: 300px;
    height: 150px;
    top: 5px;
    bottom: 5px;
}

.scopes {
    right: 18px;
    top: 5px;
    bottom: 5px;
}