
.main {
    background-color: #0d0d14;
}

.param_knob {
    width: 70px;
    height: 70px;
    color: #001aff;
    space: 10px;
}

.param_knob_area {
    width: 200px;
    height: 70px;
    right: 0;
    left: 0;
}

label {
    child-space: 1s;
    font-size: 20;
    color: #d7ceba;
    right: 0px;
}

.param_name_label {
    space: 1s;
    bottom: 2px;
}

.unit_label {
    space: 1s; 
    top: 2px;
}

.right {
    left: 0;
}

.left {
    right: 0;
}

.tick {
    background-color: #f3fa92;
}

.track {
    background-color: #f3fa92;
}

sineview {
    background-color: #f3fa92;
    width: 300px;
    space: 0px;
    left: 15px;
    right: 15px;
}